body {
  list-style: none;
  width: 100%;
  height: 800px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container h1 {
  color: aliceblue;
  font-weight: 800;
  font-size: 70px;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.links a {
  text-decoration: none;
  padding: 18px;
  border-radius: 40px;
  background-color: antiquewhite;
  font-size: 20px;
  font-weight: 600;
  color: black;
  transition: background-color 0.3s ease;
}

.links a:hover{
    background-color: aqua;
}
