body {
  width: 100%;
  height: 800px;
  background-color: rgb(81, 182, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container h1 {
  color: rgb(11, 80, 141);
  font-weight: 800;
  font-size: 70px;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  list-style: none;
}

#voltar{
  background-color: black;
  color: white;
}

.links a {
  text-decoration: none;
  padding: 18px;
  border-radius: 40px;
  background-color: rgb(172, 113, 36);
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: rgb(150, 24, 24);
}


